#input {
    border-radius: 50px;
    width: 50%;
    border: 1px solid rgba(0, 69, 92, 0.81);
    

    #button {
        color: white;
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;
        border: none;
        padding: 0;
        background: rgba(20, 95, 120, 1);
        height: 40px;
        width: 30%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}