#header {
    background: linear-gradient(black, transparent);
    position: fixed;
    width: 100vw;
    height: 80px;
    z-index: 1;

    #blockHeader {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        #left {
            width: 350px;
            display: flex;
            align-items: center;
            justify-content: space-around;
    
            #logo {
                width: 40px;
                height: 41px;   
            }
            span {
                color: white;
                font-weight: 700;
                font-size: 30px;
            }
    
        }
    
        #right {
            display: flex;
            align-items: center;
            border: 0;
            background: none;
            cursor: pointer;
    
            :hover {
                background-color: grey;
            }
    
            #menuIcon {
                width: 40px;
            }
        }

    }

    

    


}

#headerExpended {
    background: linear-gradient(black, transparent);
    width: 100vw;
    height: 80px;
    position: fixed;
    z-index: 2;

    #blockHeader {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    

    #left {
        width: 350px;
        display: flex;
        align-items: center;
        justify-content: space-around;

        #logo {
            width: 40px;
            height: 41px;  
        }
        span {
            color: white;
            font-weight: 700;
            font-size: 30px;
        }

    }

    #right {
        display: flex;
        border: 0;
        background: none;
        cursor: pointer;

        :hover {
            background-color: grey;
        }

        #menuIcon {
            width: 40px;
        }
    }

    #menuExpended {
        
        top: 0;
        width: 100vw;
        height: 100vh;
        backdrop-filter: blur(20px);
        position: fixed;
        z-index: -1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        

        

        .linkPage {
            
            display: flex;
            justify-content: center;
            width: 100%;
            font-size: 40px;
            text-decoration: none;
            color: white;
            

            
        }

        :hover {
                background-color: white;
                color: black;
                
            }
    }


    
}

